@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model List<MusicPlayer.Models.ViewModels.FavouritesViewModel>*@
@model MusicPlayer.Models.ViewModels.UserAccountViewModel

<link rel="stylesheet" href="~/css/boot.css" />




<body>
    <h2>Hello, @Model.Profile.Login ! There is a list of your favourite songs</h2>

    @if (Model.FavouriteSongs.Count != 0)
    {


        <table class="table table-hover" style="margin-top:20px">
            <tr class="table-active">
                <th scope="row">

                </th>
                <th scope="row">
                    Title
                </th>
                <th scope="row">
                    Artist
                </th>
                <th scope="row">
                    Genre
                </th>
                <th scope="row">
                    Album
                </th>
                <th scope="row">
                    Duration
                </th>
                <th scope="row">

                </th>
            </tr>
            @foreach (var favSong in Model.FavouriteSongs)
            {
                <tr class="table-active">
                    <td>


                        <audio id="@favSong.SongID">
                            <source src="@Url.Content(favSong.Location)" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                        <div>
                            <button onclick="document.getElementById('@favSong.SongID').play()">►</button>
                            <button onclick="document.getElementById('@favSong.SongID').pause()">❚❚</button>

                        </div>

                    </td>
                    <td> @favSong.Title</td>
                    <td>@favSong.Artist</td>
                    <td>@favSong.Genre</td>
                    <td>@favSong.Album</td>
                    <td>@favSong.Duration</td>
                    <td>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rozwiń</a>
                            <div class="dropdown-menu">
                                <p class="dropdown-item">@Html.ActionLink("Delete from favourites", " DeleteFromFavourites", "Favourits", new { songId = favSong.SongID })</p>
                                <p class="dropdown-item">@Html.ActionLink("Song details", "AddToFavourites", "Songs")</p>


                            </div>
                        </div>


                    </td>
                </tr>
            }


        </table>


    }
    else
    {
        <h3>It seems like you don't have any favourite song yet. Let's add your first favourite song.</h3>

    }
    <p>@Html.ActionLink("See the list of all songs", "Index", "Songs", Model.Profile)</p>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



</body>
