@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MusicPlayer.Models.ViewModels.SongsUserViewModel
<link rel="stylesheet" href="~/css/boot.css" />




<body>

    <table class="table table-hover" style="margin-top:20px">
        <tr class="table-active">
            <th scope="row">

            </th>
            <th scope="row">
                Title
            </th>
            <th scope="row">
                Artist
            </th>
            <th scope="row">
                Genre
            </th>
            <th scope="row">
                Album
            </th>
            <th scope="row">
                Duration
            </th>
            <th scope="row">

            </th>
        </tr>
        @foreach (var song in Model.Songs)
        {
            <tr class="table-active">
                <td>
                    @* <audio id=@song.SongID src="@Url.Content(song.Location)"/>
        <button onclick="document.getElementById(@song.SongID).play()">Play</button>
                    *@
                    <audio id="@song.SongID" >
                        <source src="@Url.Content(song.Location)" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                    <div>
                        <button onclick="document.getElementById('@song.SongID').play()">►</button>
                        <button onclick="document.getElementById('@song.SongID').pause()">❚❚</button>
                        
                    </div>



                    @*<audio class="aud" src="@Url.Content(song.Location)" controls style="width:100px" />*@
                    @* <button onclick="playMusic(song.Location)" />*@
                </td>
                <td> @song.Title</td>
                <td>@song.Artist</td>
                <td>@song.Genre</td>
                <td>@song.Album</td>
                <td>@song.Duration</td>
                <td>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rozwiń</a>
                        <div class="dropdown-menu">
                            <p class="dropdown-item">@Html.ActionLink("Add to favourites", "AddToFavourites", "Songs", new { songID = song.SongID}, null)</p>
                            <p class="dropdown-item">@Html.ActionLink("Song Details", "AddToFavourites", "Songs", new { songID = song.SongID }, null)</p>

                            


                        </div>


                </td>
            </tr>
        }


    </table>
    <p>@Html.ActionLink("Show favourites", "Index", "Favourits")</p>
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



</body>
